.nav_bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-top: 1rem;
}

.menu_button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.8rem;
  user-select: none;
  color: #fff;
  text-decoration: unset;
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.menu_button:hover {
  color: unset;
  text-decoration: underline;
}

.big_menu {
  display: flex;
  justify-content: flex-end;
}

.small_menu {
  display: none;
}

.hidden_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav_bar {
    padding-top: 0.75rem;
  }

  .big_menu {
    display: none;
  }

  .small_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .small_menu button {
    margin-right: 0.75rem;
    z-index: 10;
    padding: unset;
    background: unset;
    border: unset;
  }

  .small_menu button:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .hamburger {
    background-image: url("../../assets/Hamburger.png");
    width: 50px;
    height: 50px;
  }

  .menu_button_v {
    font-size: 0.8rem;
    user-select: none;
    color: #fff;
    text-decoration: unset;
    cursor: pointer;
    background-color: unset;
    border: unset;
  }

  .menu_button_v:hover {
    color: unset;
    text-decoration: unset;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .responsive_menu {
    position: absolute;
    background-color: rgba(41, 41, 41, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-100vh);
    height: 100vh;
  }

  .responsive_menu ul {
    list-style-type: none;
    width: 100%;
    padding: unset;
    margin-bottom: unset;
    padding-top: 4.9rem;
  }

  .responsive_menu li {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .last_li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .responsive_menu button {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
  }

  .responsive_menu button:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .hidden_menu {
    display: block;
    position: fixed;
    z-index: 5;
    width: 100%;
  }

  .expanded_menu {
    animation-name: expandedMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .not_expanded_menu {
    animation-name: NotExpandedMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes expandedMenu {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes NotExpandedMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
